<h1>Login</h1>
<p>I really hope this works</p>
<% if(flashMsg && flashMsg.err) { %>
<% _.each(flashMsg.err, function(error) { %>
<p><%= error.name %></p>
<p><%= error.message %></p>
<% }) %>
<% } %>
<form action="/sessions/create" method="POST">
	<input type="text" name="userName">
	<input type="password" name="password">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">	
	<input type="submit" value="Login">
</form>