<div class="container spaced">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Login</h1>
			<% if(flashMsg && flashMsg.err) { %>
			<% _.each(flashMsg.err, function(error) { %>
			<p><%= error.name %></p>
			<p><%= error.message %></p>
			<% }) %>
			<% } %>
			<form action="/sessions/create" method="POST">
				<label for="userName">Username</label>
				<input type="text" name="userName">
				<label for="password">Password</label>
				<input type="password" name="password">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">	
				<input class="cta-submit inline" type="submit" value="Login">
			</form>		
		</div>
	</div>
</div>