<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1,minimum-scale=1,maximum-scale=1">

		<link rel="shortcut icon" href="/images/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
		<link rel="stylesheet" href="/styles/responsive.css">
		<link rel="stylesheet" href="/styles/global.css">
		<link rel="stylesheet" href="/styles/ie8.css">
		<link rel="stylesheet" href="/styles/importer.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css"><![endif]-->
		<script src="/js/laroux.min.js"></script>
		<script src="/js/moment.min.js"></script>
		<script src="/js/rome.standalone.min.js"></script>
		<script src="/js/walkway.min.js"></script>
		
		<title>GamePlan</title>
	</head>

	<body>
	<% if (session.authenticated) { %>
	<div class="container dark-slab" id="header">
		<div class="row row-flush">
			<div class="w2 relative">
				<p class="logo"><a href="/">GamePlan</a></p>
			</div>
			<div class="w7">
				<ul id="nav-primary">
					<li><a href="/">Home</a></li>
					<li><a href="/teams">Teams</a></li>
					<li><a href="/users">Users</a></li>
					<li><a href="/events">Events</a></li>
				</ul>
			</div>
			<div class="w3 last">
				<div class="user-box">
					<p class="name"><a href="/users/<%= session.User.userName %>"><%= session.User.firstName %> <%= session.User.lastName %></a></p>
					<a class="btn" href="/settings">Edit Profile</a>
					<a class="btn" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>
	<% } else { %>
	<% } %>	
	<%- body %>
	<script src="/js/dependencies/sails.io.js"></script>
	<!--SCRIPTS END-->
	</body>
</html>
