<div class="container">
	<div class="row">
		<div class="w12">
			<a href="/teams">Back to all teams</a>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Editing <%= team.teamName %></h1>
		</div>
	</div>
</div>