<h1 class="invisible">Teams</h1>
<div class="container spaced">
	<div class="row">
		<div class="w12">
			<ul class="nav-secondary">
				<li><a href="/create/team">Create Team</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg centred">
			<h2>Find a team</h2>
			<form action="/search/teams" method="POST">
				<input class="input med breaker" type="text" id="findTeam" name="query">
			</form>
		</div>
	</div>
</div>