<div class="container spaced">
	<div class="row">
		<div class="w6 wysiwyg">
			<h1>Teams</h1>
		</div>
		<div class="w6 last">
			<ul class="nav-secondary">
				<li><a href="/create/team">Create Team</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<div class="row">
				<% _.each(teams, function(team, i, teams) { %>
				<div class="w4 team-box<% if ((i+1) % 3 == 0) { %> last<% } %>">
					<h2><a href="/teams/<%= team.id %>"><%= team.teamName %></a></h2>
				</div>
				<% }) %>	
			</div>
		</div>	
	</div>
</div>