<div class="container">
	<div class="row below">
		<div class="w12 wysiwyg">
			<h1>Create a team</h1>
			<form action="/teams/create" method="POST">
				<label for="teamName">Team Name</label>
				<input class="input breaker" type="text" name="teamName">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<input class="cta-submit block" type="submit" value="Create team">
			</form>
		</div>
	</div>
</div>