<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Users</h1>
			<form action="/search/users" method="POST">
				<input type="text" id="findPerson" name="query">
			</form>
		</div>
	</div>
</div>