<div class="container spaced">
	<div class="row">
		<div class="w12 wysiwyg bottom">
			<% if (session.authenticated) { %>
			<h1>Trying to register?</h1>
			<p>You're already signed in as <%= session.User.firstName %> <%= session.User.lastName %>.</p>
			<p>Not you? <a href="/logout">Log out</a></p>
			<% } else { %>
			<p></p>
			<h1>Create your account</h1>
			<form class="below" action="/create/user" method="POST">
				<label for="firstName">First Name</label>
				<input class="input breaker" type="text" name="firstName">
				<label for="lastName">Last Name</label>	
				<input class="input breaker" type="text" name="lastName">
				<label for="email">Email Address</label>	
				<input class="input breaker" type="email" name="email">
				<label for="userName">Username</label>	
				<input class="input breaker" type="text" name="userName">
				<label for="publicView">Account Visibility</label>						
				<select class="input breaker" name="publicView">
					<option value="true">Public</option>
					<option value="false">Private</option>
				</select>
				<label for="password">Password</label>
				<input class="input breaker" type="password" name="password">
				<label for="passwordConfirmation">Confirm Password</label>		
				<input class="input breaker" type="password" name="passwordConfirmation">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<input type="submit" class="cta-submit inline" value="Sign up">
			</form>
			<% } %>
		</div>
	</div>
</div>