<h1>User Signup Form</h1>
<% if(flashMsg && flashMsg.err) { %>
<% _.each(flashMsg.err, function(error) { %>
	<p><%- JSON.stringify(error) %></p>
<% }) %>
<% } %>
<form action="/users/create" method="POST">
	<label for="firstName">First Name</label>
	<input type="text" name="firstName">
	<label for="lastName">Last Name</label>	
	<input type="text" name="lastName">
	<label for="email">Email Address</label>	
	<input type="email" name="email">
	<label for="userName">Username</label>	
	<input type="text" name="userName">
	<label for="password">Password</label>		
	<input type="password" name="password">
	<label for="passwordConfirmation">Confirm Password</label>		
	<input type="password" name="passwordConfirmation">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">
	<input type="submit" value="Sign up">
</form>