<h1>User Signup Form</h1>
<form action="/users/create" method="POST">
	<input type="text" name="firstName">
	<input type="text" name="lastName">
	<input type="email" name="email">
	<input type="password" name="password">
	<input type="password" name="passwordConfirmation">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">
	<input type="submit" value="Sign up">
</form>