<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>User Signup Form</h1>
			<% if(flashMsg && flashMsg.err) { %>
			<% _.each(flashMsg.err, function(error) { %>
				<p><%- JSON.stringify(error) %></p>
			<% }) %>
			<% } %>
			<form action="/create/user" method="POST">
				<label for="firstName">First Name</label>
				<input type="text" name="firstName">
				<label for="lastName">Last Name</label>	
				<input type="text" name="lastName">
				<label for="email">Email Address</label>	
				<input type="email" name="email">
				<label for="userName">Username</label>	
				<input type="text" name="userName">
				<label for="password">Password</label>
				<select name="publicView">
					<option value="true">Public</option>
					<option value="false">Private</option>
				</select>
				<label for="publicView">Account Visibility</label>						
				<input type="password" name="password">
				<label for="passwordConfirmation">Confirm Password</label>		
				<input type="password" name="passwordConfirmation">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<input type="submit" value="Sign up">
			</form>
		</div>
	</div>
</div>