<div class="container">
	<div class="row">
		<div class="w12 wysiwyg">
			<h1>Create a notification</h1>
			<form action="/notifications/create" method="POST">
				<label for="title">Notification Title</label>
				<input type="text" name="title">
				<label for="content">Content</label>
				<textarea name="content" id="content" cols="30" rows="10"></textarea>
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<input class="cta-submit block" type="submit" value="Create notification">
			</form>
		</div>
	</div>
</div>