@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/* Eric Meyer's Reset CSS v2.0 + Extras */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}button{background:none;cursor:pointer;}

/* Based on Ten4 Framework | http://www.ten4design.co.uk | https://github.com/ten4design/ten4-framework */

html,button,input{box-sizing:border-box; color:#333; font-family:'Raleway', sans-serif; -webkit-font-smoothing:antialiased; -webkit-font-variant-ligatures:common-ligatures; -moz-font-variant-ligatures:common-ligatures; -o-font-variant-ligatures:common-ligatures; -ms-font-variant-ligatures:common-ligatures; font-variant-ligatures:common-ligatures;}
input[type=submit],
input[type=button],
button{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
button:focus{outline:none;}
body{font-size:16px; line-height:1.4; background-color:#fff;}


/* --- UTILITY --- */

.invisible{position:absolute; left:-999em;} /* Can be seen by screen readers */
.removed{display:none;}
.relative{position:relative;}

/* --- TYPOGRAPHY --- */
/* Use ems for font-size on responsive sites */

::selection{} /* Selected text style */

strong,
b{font-weight:bold;}
em,
i{font-style:italic;}

a{text-decoration:none; -webkit-transition:color 0.2s; -moz-transition:color 0.2s; -o-transition:color 0.2s; -ms-transition:color 0.2s; transition:color 0.2s;}
a:focus,
a:hover{}

.p,
.wysiwyg p,
.h.xl,
.wysiwyg h1,
.h.l,
.wysiwyg h2,
.h.m,
.wysiwyg h3,
.h.s,
.wysiwyg h4{display:block; clear:both; margin-left:0 !important;}

.p,
.wysiwyg p{padding-top:0; margin:0 auto 1em auto;}

.h.xl,
.wysiwyg h1{font-size:2em; letter-spacing:-1px; line-height:1.25; margin-top:0.9375em; margin-bottom:0.3125em; font-weight:800;}

.h.l,
.wysiwyg h2{font-size:1.625em; line-height:1.15384615; margin-top:1.15384616em; margin-bottom:0.38461539em;}

.h.m,
.wysiwyg h3{font-size:1.375em; line-height:1.13636364; margin-top:1.36363637em; margin-bottom:0.45454546em;}

.h.s,
.wysiwyg h4{font-size:1.125em; line-height:1.11111111; margin-top:1.66666667em; margin-bottom:0.55555556em;}

.full{text-align:center;}
.full.hero{font-size:3.6em; letter-spacing:-1px; line-height:1.25; margin-top:0.175em; margin-bottom:0.3125em; font-weight:800;}
.full.xl{font-size:2.8em; letter-spacing:-1px; line-height:1.25; margin-top:0.9375em; margin-bottom:0.3125em; font-weight:800;}
.full.l{font-size:2.625em; line-height:1.15384615; margin-top:1.15384616em; margin-bottom:0.38461539em;}

.wysiwyg ul,
.wysiwyg ol,
.wysiwyg img,
.wysiwyg figure{margin:0 0 1.2em;}
.wysiwyg figure{display:block; width:100%;}
.wysiwyg figure figcaption{font-size:90%; font-style:italic;}

/* --- NAVIGATION --- */

#nav-primary{}
#nav-primary li{display:inline-block; width:19%; text-align:center;}
#nav-primary li a{color:#FFF;}

#nav-social{}
#nav-social li{display:inline-block;}
#nav-social li a{}

#m-nav-toggle{display:none;}

/* --- Colour Containers --- */

.team-box,
.dark-slab{background-color:#253149; color:#FFF;}
.dark-slab a{color:#FFF;}

.user-box,
.med-slab{background-color:#7E8AA3; color:#FFF;}

.white-slab{background-color:#FFFFFF;}

/* --- Buttons --- */

.cta-submit{background-color:transparent; letter-spacing:2px; text-transform:uppercase; outline:0; font-size:1.2em; line-height:1.2em; vertical-align:middle; cursor:pointer; padding:0.3em 1em; color:#FFF; font-weight:800;}
.cta-submit.block{display:block;}
.cta-submit.inline{display:inline-block;}
.cta-submit.disabled{background-color:#f3f3f3; color:#333; cursor:default;}

/* --- CONTENT --- */

#cookie-notice{padding:0.4em; text-align:center;}

#header{}
#hero{padding-top:50px; height:500px; background:#fff url(../images/hero_1.jpg) center top no-repeat; -webkit-background-size:cover; background-size:cover; position:relative;}
.svg-logo{width:70%; margin:0 auto;}
.svg-logo svg{width:33.33%; height:33.33%; float:left; position:relative;}


#home-login-form{}
#home-login-form input{margin:0 auto; font-family:'Lato', sans-serif; margin-top:1em;}
#home-login-form input[type=text],
#home-login-form input[type=email],
#home-login-form input[type=password]{font-size:1em; padding:0.4em; text-align:center; outline:0; border:0;}

#home-login-form .cta-submit{border:2px solid #FFF;}
#home-login-form .cta-submit:hover{background-color:#FFF; color:#000;}

.logo{font-weight:800; font-size:1.4em;}
.user-box{border-radius:0.2em; text-align:right; margin:1em 0; padding:0.6em;}
.user-box .name{font-weight:800; font-size:1.2em;}

.team-box{border-radius:3.2px;}
.user-box .btn{font-size:0.8em; display:inline-block; padding-left:1em;}
#main-content{background-color:#7E8AA3;}

input{display:block; clear:both;}
#footer{}

/* --- Typography Breakpoint 1 --- */

@media (min-width:43.75em){

.p,
.wysiwyg p{max-width:36em;}

.h.xl,
.wysiwyg h1{font-size:2.5em; letter-spacing:normal; line-height:1.125; margin-top:0.73333334em; margin-bottom:0.24444445em; max-width:14.4em; margin-left:auto; margin-right:auto;}

.h.l,
.wysiwyg h2{font-size:2em; line-height:1.25; margin-top:1.03125em; margin-bottom:0.34375em; max-width:18em; margin-left:auto; margin-right:auto;}

.h.m,
.wysiwyg h3{font-size:1.5em; line-height:1.25; margin-top:1.37500001em; margin-bottom:0.45833334em; max-width:24em; margin-left:auto; margin-right:auto;}

.h.s,
.wysiwyg h4{line-height:1.22222222; margin-top:1.83333333em; margin-bottom:0.61111111em; max-width:32em; margin-left:auto; margin-right:auto;}

}

/* --- Typography Breakpoint 2 --- */

@media (min-width:56.25em){

.logo-home{left:30px;}

.p,
.wysiwyg p{max-width:42em;}

.h.xl,
.wysiwyg h1{font-size:3em; letter-spacing:normal; line-height:1.05; margin-top:0.6875em; margin-bottom:0.22916667em; max-width:14.66667em; margin-left:auto; margin-right:auto;}

.h.l,
.wysiwyg h2{font-size:2.25em; line-height:1.25; margin-top:1.03125em; margin-bottom:0.34375em; max-width:16.88889em; margin-left:auto; margin-right:auto;}

.h.m,
.wysiwyg h3{font-size:1.75em; line-height:1.25; margin-top:1.37500001em; margin-bottom:0.45833334em; max-width:21.71429em; margin-left:auto; margin-right:auto;}

.h.s,
.wysiwyg h4{max-width:33.77778em;}

}

/* --- SMALLER SCREENS --- */

@media only screen and (max-width:1023px){

body{font-size:0.8em;}

}


/* --- MOBILE --- */

@media only handheld, screen and (max-width:767px){ /* 768 = iPad screen */

body{font-size:1em;}

#nav-primary{overflow:hidden; height:0;}
#nav-primary li{display:block;}
body.m-nav-open #nav-primary{overflow:auto; height:auto;}

#m-nav-toggle{display:block; position:absolute; right:20px; top:0;}
#m-nav-toggle:before{content:'X'; font-size:2em; line-height:1; vertical-align:middle;}

}


/* --- RETINA --- */

@media only screen and (-webkit-min-device-pixel-ratio:2), screen and (min-resolution:1.5dppx), screen and (min-resolution:192dpi){



}

@media only handheld and (-webkit-min-device-pixel-ratio:2), screen and (max-width:767px) and (-webkit-min-device-pixel-ratio:2), handheld and (min-resolution:1.5dppx), screen and (max-width:767px) and (min-resolution:1.5dppx), handheld and (min-resolution:192dpi), screen and (max-width:767px) and (min-resolution:192dpi){ /* Retina mobile */



}