<div class="container spaced">
	<div class="row">
		<div class="w6 wysiwyg">
			<h1>Events</h1>
		</div>
		<div class="w6 last">
			<ul class="nav-secondary">
				<li><a href="/create/event">New Event</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<h2>Events nearby</h2>
			<p>Find an event nearby. You may need to allow permission to use your location.</p>
			<input type="hidden" id="geoLocationLat">
			<input type="hidden" id="geoLocationLng">
			<button id="locator">Show nearby events</button>
			<div id="map-canvas"></div>
		</div>
	</div>
	<div class="row">
		<div class="w12 wysiwyg">
			<% _.each(events, function(thisEvent) { %>
			<% if (thisEvent.eventIsPublic != false) { %>
			<div data-id="<%= thisEvent.id %>" data-model="event">
				<a href="/events/<%= thisEvent.id %>"><p><%= thisEvent.eventTitle %></p></a>
				<p>The event is organised by <%= thisEvent.eventTeam.teamName %></p>			
			</div>
			<% } %>
			<% }) %>
		</div>
	</div>
</div>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script>
$l.ready(function() {

	var dumpBox = $l.id('dump');
	var button = $l.id('locator');

	var plotMapPoints = function(locations, lat, lng){

		var map = new google.maps.Map(document.getElementById('map-canvas'), {
			zoom: 10,
			center: new google.maps.LatLng(lat, lng),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();
		var marker, i;

		for (i = 0; i < locations.length; i++) {

			var toolTipContent = "<a href=/events/" + locations[i].obj._id + ">" + locations[i].obj.eventTitle + "</a>"

			var thisLat = locations[i].obj.location.coordinates[1];
			var thisLng = locations[i].obj.location.coordinates[0];

			marker = new google.maps.Marker({
				position: new google.maps.LatLng(thisLat, thisLng),
				map: map
			});

			google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
					infowindow.setContent(toolTipContent);
					infowindow.open(map, marker);
				}
			})(marker, i));
		}
	}

	var showPosition = function(position) {

		var lat = position.coords.latitude; // store the latitude
		var lng = position.coords.longitude; // store the longitude

		$l.ajax.post(
			'/search/events/nearby', // the API URL that the POST request is made to
			{ lat: lat, lng: lng }, // pass the latitude and longitude to the server as POST request parameters
			function(response) { // parse the server response
				var locations = response.results;
				console.log(locations);

				plotMapPoints(locations, lat, lng);				
			}
		);
	}

	$l.dom.setEvent(
		button,
		'click',
		function() {
			if (navigator.geolocation) {
				
				var position = navigator.geolocation.getCurrentPosition(showPosition);

			 } else {
				// need to have a no-geolocation error here
			}
		}
	);

	//var googleMap = $l.id('map_canvas');
	//var thisTeam = $l.dom.data(button, 'teamID');

});
</script>
